.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #242424;
  background-color: white;
}

.logo {
  display: flex;
  align-items: left;
}

.logout-button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #535bf2;
}
