.category-meal-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.category-meal-list li {
  cursor: pointer;
  text-align: center;
}

.category-meal-list img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-meal-list p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

/* media queries for responsive design */
@media (max-width: 768px) {
  .category-meal-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
