.start-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 65vh;
}

.welcome-message {
  width: 55%;
}

.welcome-message span {
  display: block;
  margin-bottom: 1rem;
}

.welcome-message .text-big {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  color: #535bf2;
}

.welcome-message .text-small {
  font-size: 1rem;
}

/* media queries for responsive design */
@media (max-width: 768px) {
  .start-page {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .welcome-message {
    width: 100%;
    text-align: justify;
  }

  .welcome-message .text-big {
    font-size: 2rem;
    text-align: left;
  }

  .login-form {
    padding: 2rem 1rem;
  }
}
