/* Reset some default browser styles */
* {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 10% 10% 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover:not(.no-hover) {
  border: 1px solid #535bf2;
  background-color: white;
  color: #535bf2;
}

button:active {
  border: 1px solid #535bf2;
  background-color: #535bf2;
  color: white;
}

button.no-hover:hover {
  border: 1px dotted white;
}
